<h2 mat-dialog-title>{{ data ? 'Edit' : 'Create New' }} Quiz</h2>
<mat-dialog-content>
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Quiz Title</mat-label>
    <input matInput [(ngModel)]="quizTitle" placeholder="e.g. Core Java Concepts">
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Number of Questions</mat-label>
    <input matInput type="number" [(ngModel)]="questionCount">
  </mat-form-field>
  
  </mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="dialogRef.close()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSave()" [disabled]="!quizTitle">Save Quiz</button>
</mat-dialog-actions>